body{
	background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.search-container {
            margin-top: 2%;
			 margin-left: 80%; 
            display: flex;
            align-items: center;
        }
        .search-input {
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            margin-right: 10px;
        }
        .search-btn {
            background-color: transparent;
            border: none;
            color: #fff;
            cursor: pointer;
            font-size: 1.2rem;
            padding:8px 12 px;
        }
        .search-btn:focus {
            outline: none;
        }
.profile-card {
    /* Other styles for the profile card */
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin: 20px auto;
    max-width: 600px;
    backdrop-filter: blur(1px);
    overflow: hidden;
}

.profile-image {
    width: 100%;
    padding-top: 25%; /* 4:3 aspect ratio (4/3 * 100) */
    object-fit: cover;
    object-position: center;
    margin-left: 2%;
}
        .profile-card:hover {
            transform: translateY(-5px);
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        }

        .profile-details {
            flex: 1;
            padding: 1rem;
            color: #333333;
            text-align: left;
            font-family: serif;
            border-radius: 0 0 10px 10px;
        }

        .profile-name {
            font-size: 1.25rem;
            margin: 0 0 10px;
            text-align: center;
            text-transform: uppercase;
            padding: 1rem;
        }

        .profile-field {
            font-size: 1rem;
            text-align: left;
            color: #333333;
             margin-left: 4%;
        }

        .edit-btn
         {
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 0 0 10px 10px;
            padding: 5px 10px;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s;
            width: 100%;
            text-align: center;
            margin-left: 10%;
        }
        .delete-btn{
			color: #fff;
            background-color: red;
            border: none;
            border-radius: 0 0 10px 10px;
            padding: 5px 10px;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s;
            width: 100%;
            text-align: center;
            margin-left: 10%;
		}

  
  
  
@media (max-width: 768px) {
    .search-container {
        margin-left: 10px;
    }
    
    .search-input {
        width: 60%;
    }
}

/* Responsive styles for phone screens */
@media (max-width: 480px) {
    .search-container {
        margin-left: 10px;
    }
    
    .search-input {
        width: 60%;
    }

    .profile-card {
        width: 100%;
        margin-left: 0;
    }
}