<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Doctor</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" th:href="@{/css/HF.css}">

    <link rel="stylesheet" th:href="@{/css/Doctor-DashBoard.css}">

    <!-- Add your custom CSS here -->

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">   
</head>

<body>
	<div th:if="${param.error}">
        <p class="alert alert-danger">Incorrect username or password.</p>
 	</div>
	<nav class="navbar navbar-expand-lg navbar-dark custom-header">
    	<div class="container">
        	<a class="navbar-brand" >Doctor DashBoard</a>
        	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            	<span class="navbar-toggler-icon"></span>
        	</button>
        	<div class="collapse navbar-collapse" id="navbarNav">
            	<ul class="navbar-nav ml-auto">
                	<li class="nav-item">
                    	<a class="nav-link" href="/doctorChangePassword">Change Password</a>
                	</li>
                	<li class="nav-item">
                    	<a class="nav-link" href="/logoutDoctor">Logout</a>
                	</li>
            	</ul>
        	</div>
    	</div>
	</nav>



 <div class="doctor-container">
   <h4 th:text="'Welcome ' + ${doctor.name}"></h4>
    <div class="box">
    <input type="radio" class="tab-toggle" name="tab-toggle" id="tab1" checked>
    <input type="radio" class="tab-toggle" name="tab-toggle" id="tab2">
    <input type="radio" class="tab-toggle" name="tab-toggle" id="tab3">
    <input type="radio" class="tab-toggle" name="tab-toggle" id="tab4">
    <ul class="tab-list">
      <li class="tab-item">
        <label class="tab-trigger" for="tab1">Today's Appointments</label>
      </li>
      <li class="tab-item">
        <label class="tab-trigger" for="tab2">Admitted Appointments</label>
      </li>
      <li class="tab-item">
        <label class="tab-trigger" for="tab3">Treated Appointment</label>
      </li>
  <li class="tab-item">
        <label class="tab-trigger" for="tab4">Upcoming Appointment</label>
      </li>
    </ul>
    <div class="tab-container">
      <div class="tab-content">
      <div class="table-responsive">
           <table class="table">
                    <thead>
                        <tr>
                            <th>Appointment ID</th>
                            <th>Patient ID</th>
                            <th>Name</th>
                            <th>Action</th>
                            <th>Reports</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Use Thymeleaf to dynamically populate data -->
                        <tr th:each="appointment : ${todayAppointments}">
                            <td th:text="${appointment.id}"></td>
                            <td th:text="${appointment.patientId}"></td>
                            <td th:text="${appointment.patientName}"></td>
                            <td>
                                 <button class="view-prescription-button"> Write Prescripton</button>
    							 	<div class="prescription-modal" >
        								<div class="prescription-content">
				                            <form th:action="@{/treatPatient/{appointmentId}(appointmentId=${appointment.id})}" method="post">
                            				<h5><p th:text="'Patient Name: '+${appointment.patientName}"></p>
                            				<p th:text="'Doctor: '+${doctor.Name}"></p></h5>
                            				<div class="textarea-container">
                    							<div class="left-textarea">
                        							<h6>Diseases: </h6>
                        							<textarea name="disease" th:text="${appointment.disease}" rows="2" cols="20"></textarea>
                    							</div>
                    							<div class="right-textarea">
                        							<h6>Prescription: </h6>
                        							<textarea name="prescription" th:text="${appointment.prescription}" rows="4" cols="20"></textarea>
                    							</div>
                							</div>
                							<div class="textarea-container">
                    							<div class="left-textarea">
                        							<h6>Note to nurse: </h6>
                        							<textarea name="noteToNurse" th:text="${appointment.noteToNurse}" rows="2" cols="20"></textarea>
                    							</div>
                    							<div class="right-textarea">
                        							<h6>Tests: </h6>
                        							<textarea name="tests"  rows="4" cols="20"></textarea>
                    							</div>
                							</div>
                            				<p>*Please select department if you want to admit patient in any department</p>
                            				<select id="selectDepartment"  name="department">
                          	  				<option >Select Department</option>
                         					<option th:each="department : ${departments}" th:value="${department.name}" th:text="${department.name}">Department</option>
                    						</select>
                    						<div class="buttons">
                    							<div class="button1">
                    								<button class="view-prescription-button" style="background-color:#336699;">View Reports</button>
    							 					<div class="prescription-modal" >
        												<div class="report-content">
        								 					<div  th:each="report : ${appointment.reports}">
        								 						<h6 th:text="${report}"></h6>
                    											<img th:src="@{'Photos/'+${report}}"  alt="Doctor Image">
                    										</div>	
    													</div>
    													<span class="close-modal">&times;</span>
                            						</div>
                            					</div>
                            					<div class="button2">
                            						<button class="view-prescription-button" style="background-color:lightsalmon">View Tests</button>
    							 					<div class="prescription-modal" >
        												<div class="test-content">
        								 					<ul class="test-list">
                    											<li th:text="${appointment.testsList}"></li>
                    										</ul>	
                    										<button class="close-modal close">Close</button>
    													</div>
                            						</div>
                    							</div>
                    						</div>	
                            				<button class="treated">Treated</button>
                            				
                            				
                            				</form>
                            				
                    					<span class="close-modal">&times;</span>
    								</div>
                            	</div>
                            </td>
                             <td>
                                 <button class="view-prescription-button"> view</button>
    							 	<div class="prescription-modal" >
        								<div class="prescription-content">
        								 <div  th:each="report : ${appointment.reports}">
        								 	<h6 th:text="${report}"></h6>
                    						<img th:src="@{'Photos/'+${report}}"  alt="Doctor Image">
                    					</div>	
                    					<span class="close-modal">&times;</span>
    								</div>
                            	</div>
							</td> 
                        </tr>
                    </tbody>
                </table>
                </div>
      </div>
      <div class="tab-content">
      <div class="table-responsive">
           <table class="table">
        <thead>
            <tr>
                <th>Appointment ID</th>
                <th>Patient ID</th>
                <th>Name</th>
                <th>Disease</th>
                <th>Reports</th>
                <th>Action</th>
                <th>Discharge</th>
            </tr>
        </thead>
        <tbody>
            <!-- Use Thymeleaf to dynamically populate data -->
            <tr th:each="appointment : ${currentAppointments}">
                <td th:text="${appointment.id}"></td>
                <td th:text="${appointment.patientId}"></td>
                <td th:text="${appointment.patientName}"></td>
               <td th:text="${appointment.disease}"></td>
                  <td>
                                 <button class="view-prescription-button reports-btn"> view</button>
    							 	<div class="prescription-modal" >
        								<div class="prescription-content">
        								 <div  th:each="report : ${appointment.reports}">
        								 	<h6 th:text="${report}"></h6>
                    						<img th:src="@{'Photos/'+${report}}"  alt="Doctor Image">
                    					</div>	
                    					<span class="close-modal">&times;</span>
    								</div>
                            	</div>
				</td>         
                 <td>
                                 <button class="view-prescription-button update-btn"> Update Prescripton</button>
    							 	<div class="prescription-modal" >
        								<div class="prescription-content">
             <form th:action="@{/onTreatingPatient/{doctorId}/{appointmentId}(doctorId=${doctor.id}, appointmentId=${appointment.id})}" method="post">
                            				<h5><p th:text="'Patient Name: '+${appointment.patientName}"></p>
                            				<p th:text="'Doctor: '+${doctor.Name}"></p></h5>
                            				<div class="textarea-container">
                    							<div class="left-textarea">
                        							<h6>Diseases: </h6>
                        							<textarea name="disease" th:text="${appointment.disease}" rows="2" cols="20"></textarea>
                    							</div>
                    							<div class="right-textarea">
                        							<h6>Prescription: </h6>
                        							<textarea name="prescription" th:text="${appointment.prescription}" rows="4" cols="20"></textarea>
                    							</div>
                							</div>
                							<div class="textarea-container">
                    							<div class="left-textarea">
                        							<h6>Note to nurse: </h6>
                        							<textarea name="noteToNurse" th:text="${appointment.noteToNurse}" rows="2" cols="20"></textarea>
                    							</div>
                    							<div class="right-textarea">
                        							<h6>Tests: </h6>
                        							<textarea name="tests"  rows="4" cols="20"></textarea>
                    							</div>
                							</div>
                            				<p>*Please select department if you want to admit patient in any department</p>
                            				<select id="selectDepartment"  name="department">
                          	  				<option >Select Department</option>
                         					<option th:each="department : ${departments}" th:value="${department.name}" th:text="${department.name}">Department</option>
                    						</select>
                    						<div class="buttons">
                    							<div class="button1">
                    								<button class="view-prescription-button" style="background-color:#336699;">View Reports</button>
    							 					<div class="prescription-modal" >
        												<div class="report-content">
        								 					<div  th:each="report : ${appointment.reports}">
        								 						<h6 th:text="${report}"></h6>
                    											<img th:src="@{'Photos/'+${report}}"  alt="Doctor Image">
                    										</div>	
    													</div>
    													<span class="close-modal">&times;</span>
                            						</div>
                            					</div>
                            					<div class="button2">
                            						<button class="view-prescription-button" style="background-color:lightsalmon">View Tests</button>
    							 					<div class="prescription-modal" >
        												<div class="test-content">
        								 					<ul class="test-list">
                    											<li th:text="${appointment.testsList}"></li>
                    										</ul>	
                    										<button class="close-modal close">Close</button>
    													</div>
                            						</div>
                    							</div>
                    						</div>	
                            				<button class="treated">Treated</button>
                            				
                            				
                            				</form>
                            				
                    					<span class="close-modal">&times;</span>
    								</div>
                            	</div>
                            </td>
                <td>
                	 <form th:action="@{/dischargePatient/{doctorId}/{appointmentId}(doctorId=${doctor.id}, appointmentId=${appointment.id})}" method="post">
                	 	<button class="discharge">Discharge</button>
                	 </form>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
      </div>
      <div class="tab-content">
      <div class="table-responsive">
          <table class="table">
        <thead>
            <tr>
                <th>Appointment ID</th>
                <th>Patient ID</th>
                <th>Name</th>
                <th>Disease</th>
                <th>Prescription</th>
            </tr>
        </thead>
        <tbody>
            <!-- Use Thymeleaf to dynamically populate data -->
            <tr th:each="appointment : ${treatedAppointments}">
                <td th:text="${appointment.id}"></td>

                <td th:text="${appointment.patientId}"></td>

                <td th:text="${appointment.patientName}"></td>

                <td><input type="text" th:value="${appointment.disease}"  readonly/> </td>

                    <td><ul class="prescription-list">

                    	<li th:text="${appointment.prescription}"></li>

                    </ul></td>

            </tr>

        </tbody>

    </table>
    </div>

      </div>
<div class="tab-content">
      <div class="table-responsive">
          <table class="table">
        <thead>
            <tr>
                <th>Appointment ID</th>
                <th>Patient ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <!-- Use Thymeleaf to dynamically populate data -->
            <tr th:each="appointment : ${upcomingAppointments}">
                <td th:text="${appointment.id}"></td>

                <td th:text="${appointment.patientId}"></td>

                <td th:text="${appointment.patientName}"></td>

                <td th:text="${appointment.date}"></td>
                <td th:text="${appointment.Time}"></td>

            </tr>

        </tbody>

    </table>
    </div>

      </div>
    </div>

  </div>

</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Contact Us</h4>
                <ul>
                    <li><p>Email:hhh@gmail.com</p></li>
                    <li><p>+91-9999999999</p></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Book Appointments</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Departments</h4>
                <ul>
                    <li><a href="#">Neurology</a></li>
                    <li><a href="#">Dermotology</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Rest of your HTML content goes here -->

<!-- Bootstrap and jQuery scripts (make sure to include jQuery first) -->
<script src="Js/doctorDashBoard.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>